<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla-calif">
  <template>
    <style>
      :host {
        display: block;
      }
      table, tr, td, th{
        border: 1px solid black;
        text-align: center; 
      }
      thead{
        background: gray;
      }
      .reprobado{
        background: red;
      }
      .aprobado{
        background: yellow;
      }
    </style>

    <table>
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Calificación</th>
      </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{alumnos}}" id="tabla">
          <tr class$="{{listening(item.calificacion)}}">
            <td>[[item.nombre]]</td>
            <td on-click="contador">[[item.calificacion]]</td>
          </tr>
        </template>
      </tbody>
    </table>

    <h2>Contador: {{cf}}</h2>

  </template>
  

  <script>
    /**
     * `tabla-calif`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TablaCalif extends Polymer.Element {
      static get is() { return 'tabla-calif'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabla-calif'
          },
          cf: {
            type: Number,
            value: 0
          },
          c:{
            type: Number,
            value: 0
          },
          c1:{
            type: Number,
            value: 0
          },
          c2:{
            type: Number,
            value: 0
          },
          c3:{
            type: Number,
            value: 0
          },
          c4:{
            type: Number,
            value: 0
          },
          alumnos: {
            type: Array,
            value: ()=>{
              return [
              {nombre: 'Diana Ledesma',
               calificacion: 4},
              {nombre: 'Diego García',
               calificacion: 8},
               {nombre: 'Carmen Roque',
               calificacion: 6},
               {nombre: 'Manuel Torres',
               calificacion: 3},
               {nombre: 'Benjamín Moreno',
               calificacion: 10}
              ]
            }
          }

        };
      }

      contador(e){
        console.log(e.currentTarget.innerHTML)
        var a = e.currentTarget.innerHTML;
        if(a=='4'){
        this.c = this.c + 1;
        this.cf = this.c;
        }else if(a=='8'){
        this.c1 = this.c1 + 1;
        this.cf = this.c1;
        }else if(a=='6'){
        this.c2 = this.c2 + 1;
        this.cf = this.c2; 
        }else if(a=='3'){
        this.c3 = this.c3 + 1;
        this.cf = this.c3; 
        }else if(a=='10'){
        this.c4 = this.c4 + 1;
        this.cf = this.c4;
        }
      }


      listening(e){
          if(e<6){
            return 'reprobado'
            }else{
            return 'aprobado'
          }
      } 

        

    }

    window.customElements.define(TablaCalif.is, TablaCalif);
  </script>
</dom-module>
